@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Syne", sans-serif;
  font-size: 14px;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #ffc5c5, #8aefd6) fixed;
}

.list-container {
  margin-top: 10vh;
  width: 350px;
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  text-align: center;
}

h1 {
  margin: 0 0 2rem;
}

#item-form {
  margin: 1rem 0;
}

#item-form input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  width: 100%;
}

#list {
  margin: 2rem 0;
  list-style: none;
  text-align: left;
}

#list li {
  margin: 1.2rem 0;
  display: flex;
  align-items: center;
}

#list label {
  margin: 0 0.5rem 0;
  width: calc(100% - 4rem);
  word-wrap: break-word;
}

#list button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: black;
  color: white;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#list button span {
  font-size: 1.2rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.clear-buttons {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: black;
  color: white;
  min-height: 3rem;
  min-width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

#clear-done {
  background-color: white;
  border: 2px solid black;
  color: black;
}

#clear-done span {
  font-size: 1.2rem;
}

#list li.done label {
  text-decoration: line-through;
  color: #a9a9a9;
}

.hidden {
  display: none;
}
