* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #ffc5c5, #8aefd6) fixed;
}

.list-container {
  margin-top: 10vh;
  width: 350px;
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  text-align: center;
}

h1 {
  margin: 0 0 2rem;
}

#item-form {
  margin: 1rem 0;
}

#item-form input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  width: 100%;
}

#list {
  margin: 2rem 0;
  list-style: none;
  text-align: left;
}

#list li {
  margin: 1.2rem 0;
  display: flex;
  align-items: center;
}

#list input {
}

#list label {
  margin: 0 0.5rem 0;
  /*   width: calc(100% - 3rem); */
}

#list button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: black;
  color: white;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#clear-button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: black;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
}

#list li.done label {
  text-decoration: line-through;
  color: #a9a9a9;
}

.hidden {
  display: none;
}
